.navigation {
  background-color: rgba(220, 126, 244, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
.navigation a {
  font-weight: bold;
  color: black;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.login-in{
  padding: 5px;
  margin: 5px;
  width: 75%;
  align-items: center;
}

.home{
  background-image: url('../DnD-Fantasy/surreal-6645614.jpg');
  background-size: cover;
  height: 100vh;
}

.hometext {
  width: 50vw;
}

.combat {
  background-image: url('../DnD-Fantasy/fantasy-4458063.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.monstersearch{
  padding: 5px;
  margin: 5px;
  border: 3px solid;
  border-radius: 8px;
  border: 3px wavy;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 14vw;
}

.enlist{
  padding: 5px;
  margin: 5px;
  border: 3px solid;
  border-radius: 8px;
  border: 3px wavy;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 10vw ;
  position: relative;
}


.combatList {
  max-height: 62vh;
  overflow: auto;
}

.enlistThings {
  position: absolute;
  bottom: 15px;
}

.monsterOverflow{
  max-height: 81vh;
  overflow: auto;
}

.monsterStats {
  padding: 5px;
  margin: 5px;
  border: 3px solid;
  border-radius: 8px;
  border: 3px wavy;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 65vw;
}

.monsterInfo{
  display: flex;
  gap: 3vh 5vw;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  max-height: 55vh;
  max-width: 75vw;
}

.monsterInfo div {
  height: fit-content;
  width: 15%;
}

.actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.spells{
  background-image: url('../DnD-Fantasy/night-3129908_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.spellStats {
  padding: 5px;
  margin: 5px;
  border: 3px solid;
  border-radius: 8px;
  border: 3px wavy;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 75vw;
}

.spellInfo{
  display: flex;
  gap: 50px 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 55vh;
  width: 75vw;
}

.spellCard {
  height: fit-content;
  width: 15%;
}

.monsters {
  background-image: url('../DnD-Fantasy/composing-2391033.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.signIn{
  background-image: url('../DnD-Fantasy/ocean-3605547.jpg');
  background-size: cover;
  height: 100vh;
}

.signInInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  border: 3px wavy;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 50vw;
  position: relative;
}
.signInInput div {
  padding: 5px;
}

.register{
  background-image: url('../DnD-Fantasy/horse-3395135.jpg');
  background-size: cover;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.end{
    display: flex;
    justify-content: flex-end;
}

.overflow{
  max-height: 74vh;
  overflow: auto;
}

.border {
  margin: 5px;
  padding: 5px;
  border: 3px solid;
  border-radius: 8px;
}

.background{
  margin: 5px;
  padding: 5px;
  border: 3px wavy;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

.fiftyPercent{
  width: 50%;
}